[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
starlette = "*"
asyncpg = "*"
sqlalchemy = "*"
uvicorn = "*"
python-rapidjson = "*"
databases = {extras = ["postgresql"],version = "*"}
ipython = "*"
alembic = "*"

[requires]
python_version = "3.8"
